<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store API Documentation for student practical</title>
    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .wrapper {
            padding: 0 120px;
        }
        @media only screen  and (max-width:1024px){
            .wrapper {
            padding: 0 16px;
        }
        }
        nav {
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid gray;

        }
        nav ul {
            display: flex;
            gap: 16px;
            list-style: none;
        }
        nav ul li a {
            text-decoration: none;
        }
        .resources, .route {
            padding: 40px 0;
        }
        .resources ul, .route ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        @media only screen  and (max-width:1024px){
            .resources ul, .route ul {
            padding: 0 16px;
            font-size: 12px;
        }
    }
        .route ul li {
            display: flex;
            gap: 32px;
        }

        @media only screen  and (max-width:1024px){
            .route ul li {
            display: flex;
            gap: 16px;
        }
        }
        .route ul li span{
            color: rgb(187, 187, 187);
           
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">
                Store<span>API</span>
            </div>
            <ul>
                <li><a href=".">Home</a></li>
                <li><a href="https://github.com/Digitallycamp/storeapi" target="_blank">GitHub</a></li>
            </ul>
        </nav>
        <header>
            <h1>DummyJSON Store API</h1>
            <p>Get dummy/fake JSON <strong>Store</strong> data to use as placeholder in development or in prototype testing.</p>
        </header>
        <main>
            <div class="resources">
                <h2>Resources</h2>
                <p>Following resources are available which you can access via our REST API.</p>
                <ul>
                    <li><a href="#">/api/v1/products</a></li>
                    <li><a href="#">/api/v1/user</a></li>
                </ul>
            </div>
            <div class="route">
                <h2>Routes</h2>
                <p>All HTTP methods are supported. You can use http or https for your requests.</p>
                <ul>
                    <li><strong>GET</strong><a href="#/https://store-api-ycui.onrender.com/api/v1/products/userId" >/api/v1/products/userId</a><span>// GET all products by User</span></li>
                    <li><strong>GET</strong><a href="#/https://store-api-ycui.onrender.com/api/v1/products/p/productId">/api/v1/products/p/productId</a><span>// GET product by ID</span></li>
                    <li><strong>POST</strong><a href="#/https://store-api-ycui.onrender.com/api/v1/products/userId">/api/v1/products/userId</a><span>// CREATE product you need to be a user</span></li>
                    <li><strong>POST</strong><a href="#/https://store-api-ycui.onrender.com/api/v1/user">/api/v1/user</a><span>// CREATE user</span></li>
                    <li><strong>PUT</strong><a href="#/https://store-api-ycui.onrender.com/api/v1/products/p/productId">/api/v1/products/p/productId</a><span>// UPDATE product</span></li>
                    <li><strong>DELETE</strong><a href="#/https://store-api-ycui.onrender.com/api/v1/products/p/productId">/api/v1/products/p/productId</a><span>// DELETE product</span></li>
                </ul>
            </div>
        </main>
        <footer>
            <p>Copywrite <span><%= date %></span> By from all contributors</p>
        </footer>
    </div>

    
</body>
</html>